extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipiscing elit phasellus nulla, morbi mus erat nunc turpis egestas id sapien, mollis nullam facilisis vestibulum sem rhoncus per vulputate. Quam faucibus cum euismod ac mauris quis interdum suscipit eleifend sed egestas, sollicitudin nibh cras aliquet per magnis hendrerit lacus eget dis risus, class tortor hac elementum enim mus curabitur conubia litora et. Et massa risus ullamcorper vel ad donec elementum erat potenti, curabitur viverra enim euismod lacinia lectus molestie egestas, sagittis eget purus malesuada urna platea tempor mollis.

                p Sagittis taciti auctor enim eleifend ridiculus habitasse sollicitudin ullamcorper netus suspendisse, arcu id velit dictum ac mattis cum laoreet inceptos mauris aliquam, nibh senectus ut magnis donec ultricies sociosqu mollis felis. Nec dictum sodales vitae erat imperdiet platea a neque, rutrum varius porta sagittis scelerisque massa mauris eu, malesuada convallis dictumst blandit gravida quam curabitur. Sociis himenaeos feugiat blandit at iaculis eros dictum venenatis id volutpat mattis, sodales rutrum convallis diam accumsan et a ligula suscipit nec pharetra, eleifend ut sapien nostra habitasse faucibus libero tortor aenean urna.

        .listado-iconos
            .container.mt-5.py-5.text-xl-center
                .row
                    .col.m-md-4
                        img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor sit amet consectetur, adipiscing elit quam ridiculus et, nibh euismod cum viverra. Rutrum dictum dis ligula aliquam.
                    .col-md-4
                        img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Mejores destinos
                        p Lorem ipsum dolor sit amet consectetur, adipiscing elit quam ridiculus et, nibh euismod cum viverra. Rutrum dictum dis ligula aliquam fringilla nostra.
                    .col-md-4
                        img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Los mejores precios
                        p Lorem ipsum dolor sit amet consectetur, adipiscing elit quam ridiculus et, nibh euismod cum viverra. Rutrum dictum dis ligula aliquam fringilla nostra.